@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .navigation-menu-text {
    @apply text-xs sm:text-sm text-gray-500 group-hover:text-gray-800 group-hover:scale-105 transition duration-200 group-focus:outline-none group-focus:text-black group-focus:scale-105;
  }
}
